{% load i18n %}
{% load static %}
<div class="fixed inset-0 bg-black/50 flex items-center justify-center">
  <div class="bg-white w-2/5 p-6 rounded-xl">
    <h1 class="text-2xl font-bold text-center pb-4">{% trans "Tạo tài khoản" %}</h1>
    {% url 'user_list' as cancel_url %}
    {% url 'create_user' as action_url %}
    {% include "admin/partials/user_form.html" with button_text="Tạo người dùng" button_color="bg-blue-600"  button_icon="fas fa-user-plus" action_url=action_url cancel_url=cancel_url cancel_action="closeModalForm('modal_create_user')" cancel_text="Hủy" cancel_icon="fas fa-times" cancel_color="bg-gray-400" %}
  </div>
</div>
<script src="{% static 'js/admin/user_list.js' %}"></script>
