{% extends "base_admin.html" %}
{% load i18n %} 

{% block content %}
<div class="p-4">
    <h1 class="text-3xl font-bold">{% trans "Cập nhật tài khoản người dùng" %}</h1>
    <p class="text-gray-600">{% trans "Chỉnh sửa thông tin người dùng trong tòa nhà." %}</p>
    {% url 'user_list' as cancel_url %}
    {% include "admin/user_form.html" with button_text="Cập nhật" button_color="bg-green-600" button_icon="fa-regular fa-floppy-disk" cancel_url=cancel_url cancel_text="Hủy" cancel_icon="fas fa-times" cancel_color="bg-gray-400" %}
</div>
{% endblock %}
