{% load static %}
{% load i18n %}
<footer class="bg-gray-900 text-white">
    <div class="container mx-auto px-6 py-8 text-center">
        <div class="mt-4 md-4 flex justify-center space-x-6">
            <a href="https://www.facebook.com/pham.giabao.52438" class="text-gray-400 transition-transform transform hover:scale-110"><img class="w-10" src="{% static 'images/2023_Facebook_icon.svg.webp' %}" alt="facebook icon"></a>
            <a href="https://www.instagram.com/phamgiabao2004/" class="text-gray-400 transition-transform transform hover:scale-110"><img class="w-10" src="{% static 'images/Instagram_logo_2016.svg.webp' %}" alt="instagram icon"></a>
            <a href="https://www.youtube.com/@BaoPhamGia-ld6kx" class="text-gray-400 mt-1 transition-transform transform hover:scale-110"><img class="w-12" src="{% static 'images/YouTube_full-color_icon_(2017).svg.webp' %}" alt="youtube icon"></a>
        </div>
        <p class="text-gray-400 mt-8">{% trans "© 2025 APMR. Đã đăng ký bản quyền." %}</p>
    </div>
</footer>
