{% extends "base.html" %} 
{% load static %}
{% load i18n %} 

{% block sidebar %}
<div class="bg-gray-800 h-full w-52">
  <a href="#" class="p-2 flex justify-center items-center text-white">Logo</a>
  <ul class="flex justify-center items-center flex-col py-2 w-full text-white">
    <li class="p-2 w-full hover:bg-gray-500">
      <a class="flex items-center gap-2 pl-2" href="#">
        <i class="fa-solid fa-house w-5 h-5 text-white"></i>
        <span>{% trans "Thông tin tòa nhà" %}</span>
      </a>
    </li>
    <li class="p-2 w-full hover:bg-gray-500">
      <a class="flex items-center gap-2 pl-2" href="{% url 'bill_history' %}">
        <i class="fa-solid fa-money-bills"></i>
        <span>{% trans "Hóa đơn" %}</span>
      </a>
    </li>
    <li class="p-2 w-full hover:bg-gray-500">
      <a class="flex items-center gap-2 pl-2"  href="{% url 'resident_room_list' %}">
        <i class="fa-solid fa-building"></i>
        <span>{% trans "Quản lý phòng ở" %}</span>
      </a>
    </li>
    <li class="p-2 w-full hover:bg-gray-500">
      <a class="flex items-center gap-2 pl-2" href="#">
        <i class="fa-solid fa-question"></i>
        <span>{% trans "Quản lý yêu cầu" %}</span>
      </a>
    </li>
  </ul>
</div>
{% endblock%}
